PORT=3001
SECRET_KEY=generate-random-key-here
CLUSTER=devnet
ESCROW_PROGRAM_ID=8b866KXrU94jAEuZYNr8WTkuXJELPvu6eW1v89pSAUrN
DROPS_PROGRAM_ID=3i1KUa7S1FjRx34SzqRAKAYsp3S8AJkCB3x7odjua7kL
DEPLOYER_KEYPAIR=base64-encoded-keypair-array

# circuit-sprint
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
JWT_SECRET=
# PHANTOM
ENABLE_LEGACY_CUSTODY=false

#  

AUTH_APP_ORIGIN=http://localhost:3000